
/* Navigation */
header{position: absolute; z-index: 9; -webkit-backface-visibility: hidden; backface-visibility: hidden;}
.header-wrapper{position: absolute; left: 0; top: 0; width: 100%; height: 100%; transition: background .3s; -webkit-transition: background .3s;}
.navigation-wrapper {width:100%;max-width: 100%; -webkit-backface-visibility: hidden;}
nav {width: 100%; max-width: 100%;}
nav a{
    color: #fff;
    -webkit-transition: background-color 300ms linear, color 1s linear;
    -moz-transition: background-color 300ms linear, color 1s linear;
    -o-transition: background-color 300ms linear, color 1s linear;
    -ms-transition: background-color 300ms linear, color 1s linear;
    transition: background-color 300ms linear, color 1s linear;
}
nav a:hover, nav li.active > a{
    color:#000;
    -webkit-transition:  color 1s linear;
    -moz-transition:  color 1s linear;
    -o-transition: color 1s linear;
    -ms-transition: color 1s linear;
    transition: color 1s linear;
}
nav li.active > a{color:#000;transition: none; -webkit-transition: none;}
header.stay-top a#logo:hover {
    background:transparent !important;
}
.has-dropdown {
  padding-right: 18px;
}
.has-dropdown:after {
  position: relative;
  font-size: 11px;
  content: "\f078";
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}

header.stay-top nav > ul > li a.has-dropdown:after {
  color: #fff;
  top: -2px;
  right: -13px;
  content: "\f078";
}
@media (max-width:767px) {
    header.stay-top nav > ul > li a.has-dropdown:after {
        display: none;
    }
}
.toggle-menu{width: 19px; height: 19px; position: relative; display: inline-block; vertical-align: middle; margin-right: -20px; cursor: pointer; top: 10px; left: 10px;}
.toggle-menu:after{position: absolute; left: 0; top: 9px; width: 100%; height: 1px; background: currentColor; content: "";}
.toggle-menu:before{position: absolute; left: 9px; top: 0; height: 100%; width: 1px; background: currentColor; content: ""; transition: all .3s; -webkit-transition: all .3s;}
.toggle-menu.active:before{height: 0; top: 9px;}

/**/
#logo img{max-width: 100%; max-height: 100%; }
/**/
.hamburger-icon{width: 20px; height: 20px; color: #fff; transition: transform .3s .3s; -webkit-transition: transform .3s .3s; cursor: pointer; z-index: 1; position: relative;}
.hamburger-icon.active{transform: rotate(90deg); -webkit-transform: rotate(90deg); transition: transform .3s; -webkit-transition: transform .3s;}
.hamburger-icon span{position: absolute; left: 0; width: 100%; height: 2px; background: currentColor; transition: all .3s; -webkit-transition: all .3s;}
.hamburger-icon.active span{transition: all .3s .3s; -webkit-transition: all .3s .3s;}
.hamburger-icon span:nth-child(1){top: 3px;}
.hamburger-icon span:nth-child(2), .hamburger-icon span:nth-child(3){top: 50%; margin-top: -1px;}
.hamburger-icon span:nth-child(4){bottom: 3px;}
.hamburger-icon.active span:nth-child(1){opacity: 0; top: -5px;}
.hamburger-icon.active span:nth-child(2){transform: rotate(45deg); -webkit-transform: rotate(45deg);}
.hamburger-icon.active span:nth-child(3){transform: rotate(-45deg); -webkit-transform: rotate(-45deg);}
.hamburger-icon.active span:nth-child(4){opacity: 0; bottom: -5px;}

@media (min-width: 991px) {

    /*header */
    header.stay-top{position: fixed; left: 0; top: 0; width: 100%; height: 74px;background: transparent;}
    header.stay-top nav{height: auto!important;}
    /*header.stay-top #logo{position: absolute; left: 0; top: 8px; width: 71px; height: 71px;}*/
    header.stay-top #logo {float: left;height: 80px}
    header.stay-top #logo.logo-mobile{display: none}
    header.stay-top .hamburger-icon{display: none;}
    header.stay-top .toggle-menu{display: none;}
    header.stay-top nav ul ul{display: block!important;}
    header.stay-top nav { max-width: 80%;margin: 0 auto;}
    /* header.stay-top nav{position: absolute; left: 50%; top: 50%; margin-left: -415px; margin-top: -38px;} */
    header.stay-top nav > ul {float: right}
    header.stay-top nav > ul > li{float: left; position: relative; margin-left: 25px; padding: 33px 0;}
    /* header.stay-top.scrolled nav {margin-top:-20px;} */
    header.stay-top.scrolled nav > ul > li {padding:15px 0;}
    header.stay-top.scrolled .navigation-wrapper nav > ul li.user-logged-in {padding-top:9px;}
    header.stay-top nav > ul > li > a.login {border: 1px solid #fff;border-radius: 4px;padding: 5px 22px;margin-top: -5px;}
    header.stay-top nav > ul > li > a{font-family: 'arial'; font-size: 18px; font-weight:300; letter-spacing: 1px; line-height: 18px; display: block; padding: 0 5px;}

    header.stay-top nav > ul ul{position: absolute; border-radius: 3px; left: 0; top: 80%; width: 0px; background: #FFFFFF; padding: 15px 0; overflow: hidden; opacity: 1;}
    header.stay-top nav > ul li:hover ul{width: 180px; opacity: 1;}
    header.stay-top nav > ul li.user-logged-in {padding-top: 28px;}
    header.stay-top nav > ul li.profile-card-logged-nav {display: none}
    header.stay-top nav > ul li.social-list {display:none}
    header.stay-top nav > ul ul li{width: 180px; padding: 0 20px;}
    header.stay-top nav > ul ul li.sub-menu-title {width:80%;margin:0 auto;border-bottom:1px solid #ccc;text-align: center}
    header.stay-top nav > ul ul li:not(:last-child){margin-bottom: 7px;}
    header.stay-top nav > ul ul a{font-family: 'arial'; font-size: 23px; line-height: 21px;}
    /* #logo{position: absolute; left: -70px; top: 0; width: 71px; height: 71px;} */
    /* nav > ul > li #logo{position: absolute; left: -70px; top: 0; width: 71px; height: 71px;} */
    /*scrolled header*/
    header{transition: all .3s; -webkit-transition: all .3s;}
    header.stay-top.scrolled {
        height: 50px;
        background: rgba(246, 168, 0, 1);
        box-shadow: 0 0 10px rgba(0,0,0,.3);
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    }
    header.stay-top.scrolled #logo {
        height: 50px;
        transition: all .3s; -webkit-transition: all .3s;
    }
    header.stay-top.colored-bkg {
        background: rgba(246, 168, 0, 1);
    }
    header.stay-top.scrolled.colored-bkg {
        background: rgba(246, 168, 0, 0.8);
    }

}
/* Tablets (>=768px)*/
@media (max-width: 991px) {
    header{position: fixed; left: 0; top: 0; width: 100%; height: 61px;}
    header #logo{position: absolute; left: 15px; top: 5px; width: 70px; height: 50px;}
    header .hamburger-icon{position: absolute; right: 5%; top: 50%; margin-top: -10px;}
    .header-wrapper{
        background: rgba(50,37,22,1);
        background: -moz-linear-gradient(top, rgba(50,37,22,1) 0%, rgba(50,37,22,0) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(50,37,22,1)), color-stop(100%, rgba(50,37,22,0)));
        background: -webkit-linear-gradient(top, rgba(50,37,22,1) 0%, rgba(50,37,22,0) 100%);
        background: -o-linear-gradient(top, rgba(50,37,22,1) 0%, rgba(50,37,22,0) 100%);
        background: -ms-linear-gradient(top, rgba(50,37,22,1) 0%, rgba(50,37,22,0) 100%);
        background: linear-gradient(to bottom, rgba(50,37,22,1) 0%, rgba(50,37,22,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#322516', endColorstr='#322516', GradientType=0 );

        position: relative;
    }
    .navigation-wrapper{
        position: fixed;
        left: -100%;
        width: 100%;
        top: -100px;
        bottom: -100px;
        /* background: rgba(234,185,66,.98); */
        z-index: -1;
        opacity: 0;
        transition: left 0s 1s, opacity .5s;
        -webkit-transition: left 0s 1s, opacity .5s;

        background: rgba(0,0,0,0.9);
        background: -moz-linear-gradient(top, rgba(0,0,0,0.9) 2%, rgba(234,186,66,1) 35%, rgba(234,186,66,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.9)), color-stop(19%, rgba(234,186,66,1)), color-stop(100%, rgba(234,186,66,1)));
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.9) 2%, rgba(234,186,66,1) 35%, rgba(234,186,66,1) 100%);
        background: -o-linear-gradient(top, rgba(0,0,0,0.9) 2%, rgba(234,186,66,1) 35%, rgba(234,186,66,1) 100%);
        background: -ms-linear-gradient(top, rgba(0,0,0,0.9) 2%, rgba(234,186,66,1) 35%, rgba(234,186,66,1) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0.9) 2%, rgba(234,186,66,1) 35%, rgba(234,186,66,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#eaba42', GradientType=0 );
    }

    header.active .navigation-wrapper{left: 0; opacity: 1; transition: left 0s 0s, opacity .5s 0s; -webkit-transition: left 0s 0s, opacity .5s 0s;}
    nav{height: auto!important; top: 150px; bottom: 100px; left: 0; right: 0; position: absolute; overflow: auto; -webkit-overflow-scrolling: touch; font-size: 0;}
    nav:after{display: inline-block; vertical-align: middle; height: 100%; content: "";}
    nav > ul{display: inline-block; vertical-align: middle; padding: 0 15px;width:100%;}
    /*nav > ul > li #logo{position: absolute; left: 0; top: 5px; width: 70px; height: 50px;}*/
    /* nav > ul > li .logo-desktop {display: none;} */
    .logo-desktop {display: none;}
    nav > ul > li li{padding: 12px 0;}
    nav a{font-family: 'Bebas Neue'; font-size: 24px; font-weight: normal; letter-spacing: 1px; line-height: 24px; display: inline-block; vertical-align: top;}
    nav ul ul a{font-size: 20px; line-height: 26px;}
    nav ul ul{display: none; position: relative; top: 19px;}
    nav > ul > li{padding: 4px 10px; font-size: 0; opacity: 0; text-align: center; transform: translateY(40px); -webkit-transform: translateY(40px); transition: all .3s; -webkit-transition: all .3s;}
    header.active nav > ul > li{opacity: 1; transform: translateY(0px); -webkit-transform: translateY(0px);}
    header.active nav > ul > li a.login {background-color:red;border-radius: 24px; padding: 5px 50px 5px 50px;font-family:'Roboto', Arial, Helvetica, sans-serif;font-size:12px;line-height: 14px;text-transform: uppercase;}
    header.stay-top nav > ul li.social-list:before {content:"";background-color: #FFF;height:2px;width:150px;margin:20px auto 5px auto;display: block}
    header.stay-top nav > ul li.social-list a {margin:0 6px}
    header.stay-top nav > ul > li a.has-dropdown::after{display: none;}
    header.active nav > ul > li:nth-child(1){transition-delay: 0s; -webkit-transition-delay: 0s;}
    header.active nav > ul > li:nth-child(2){transition-delay: .15s; -webkit-transition-delay: .15s;}
    header.active nav > ul > li:nth-child(3){transition-delay: .3s; -webkit-transition-delay: .3s;}
    header.active nav > ul > li:nth-child(4){transition-delay: .45s; -webkit-transition-delay: .45s;}
    header.active nav > ul > li:nth-child(5){transition-delay: .6s; -webkit-transition-delay: .6s;}
    header.active nav > ul > li:nth-child(6){transition-delay: .75s; -webkit-transition-delay: .75s;}
    header.active nav > ul > li:nth-child(7){display: none;}
    /* header.active nav > ul > li:nth-child(7){transition-delay: .9s; -webkit-transition-delay: .9s;}
    header.active nav > ul > li:nth-child(8){transition-delay: 1.05s; -webkit-transition-delay: 1.05s;}
    header.active nav > ul > li:nth-child(9){transition-delay: 1.2s; -webkit-transition-delay: 1.2s;}
    header.active nav > ul > li:nth-child(10){transition-delay: 1.35s; -webkit-transition-delay: 1.35s;}
    header.active nav > ul > li:nth-child(11){transition-delay: 1.5s; -webkit-transition-delay: 1.5s;}
    header.active nav > ul > li:nth-child(12){transition-delay: 1.65s; -webkit-transition-delay: 1.65s;} */
}
.user-logged-in-wrapper {}

.user-logged-in-profile {
  /* float: left; */
  /* width: 200px; */
  /* height: 320px; */
  font-family: 'Bebas Neue';
  text-align: center;
}
.user-logged-in-profile .user-logged-in-image {
  position: relative;
  width: 70px;
  height: 70px;
  margin: 5px auto 0 auto;
}
.user-logged-in-profile .user-logged-in-image .user-logged-in-circle-1, .user-logged-in-profile .user-logged-in-image .user-logged-in-circle-2 {
  position: absolute;
  box-sizing: border-box;
  width: 76px;
  height: 76px;
  top: -3px;
  left: -3px;
  border-width: 1px;
  border-style: solid;
  border-color: #786450 #786450 #786450 transparent;
  border-radius: 50%;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}
.user-logged-in-profile .user-logged-in-image .user-logged-in-circle-2 {
  width: 82px;
  height: 82px;
  top: -6px;
  left: -6px;
  border-color: #786450 transparent #786450 #786450;
}
.user-logged-in-profile .user-logged-in-image img {
  display: block;
  border-radius: 50%;
  background: #F5E8DF;
}
.user-logged-in-profile .user-logged-in-image:hover {
  cursor: pointer;
}
.user-logged-in-profile .user-logged-in-image:hover .user-logged-in-circle-1, .user-logged-in-profile .user-logged-in-image:hover .user-logged-in-circle-2 {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.user-logged-in-profile .user-logged-in-image:hover .user-logged-in-circle-2 {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}
.user-logged-in-profile .user-logged-in-name {
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
    border-bottom: 1px solid lightgrey;
}
.user-logged-in-profile .user-logged-in-level {
    font-size: 11px;
    line-height: 15px;
}
.user-logged-in-profile .user-logged-in-stats {
    width: 80%;
    margin-top: 10px;
}
.user-logged-in-profile .user-logged-in-stats .user-logged-in-rating,
.user-logged-in-profile .user-logged-in-stats .user-logged-in-review,
.user-logged-in-profile .user-logged-in-stats .user-logged-in-post {
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
}
.user-logged-in-profile .user-logged-in-rating span,
.user-logged-in-profile .user-logged-in-review span,
.user-logged-in-profile .user-logged-in-post span {
    float: right;
    color: orange;
}
.user-logged-in-profile .user-logged-in-actions {
  margin-top: 13px;
}
.user-logged-in-profile .user-logged-in-actions a.user-logged-in-btn {
  display: block;
  width: 120px;
  height: 20px;
  margin: 0 auto 5px auto;
  background: none;
  border: 1px solid #786450;
  border-radius: 15px;
  font-family: 'Roboto';
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  box-sizing: border-box;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #666;
  padding:0;
}
.user-logged-in-profile .user-logged-in-actions a.user-logged-in-btn:hover {
  background: grey;
  color: #fff;
  border: 1px solid grey;
}
.user-logged-in-profile .user-logged-in-actions .user-logged-in-btn.tambah {
    background-color: orange;
    border: 1px solid orange;
    color: #FFF !important;
}
.user-logged-in-profile .user-logged-in-actions .user-logged-in-btn.tambah:hover {
    background-color: lightgrey !important;
    border: 1px solid lightgrey !important;
    color: #000 !important;
}
